---
- name: Install Docker.
  hosts: localhost
  connection: local
  gather_facts: yes
  tasks:
    - name: Fail on non-Debian
      fail:
        msg: "This playook is meant for Debian-based systems"
      when: ansible_os_family != "Debian"

    - name: Add the 'docker' repository
      become: yes
      ansible.builtin.deb822_repository:
        name: Docker stable
        types: deb
        uris: "https://download.docker.com/linux/{{ ansible_distribution | lower }}"
        suites: "{{ ansible_distribution_release }}"
        components:
          - stable
        architectures: amd64
        signed_by: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
        enabled: true
        state: present

    - name: Update APT cache
      apt:
        update_cache: yes
      become: yes

    - name: Install wanted packages
      apt:
        name: docker-ce docker-ce-cli containerd.io docker-compose-plugin docker-ce-rootles-extras docker-buildx-plugin docker-model-plugin
        state: present
      become: yes

    - name: Autoremove unused packages
      apt:
        autoremove: yes
      become: yes
